# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
*.lock

# IGNORE all build EXCEPT web
build/*
!build/web/

# Generated platform files
android/.gradle/
ios/Flutter/
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/
linux/flutter/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Web extras
*.wasm
*.js.map